<table class="border-collapse table-fixed w-full text-sm">
  <thead>
    <tr>
      <th class= "border-b text-left">
        <%= t('appointments.patients_name')%>
      </th>
      <th class= "border-b text-left">
        <%= t('appointments.status') %>
      </th>
      <th class= "border-b text-left">
        <%= t('appointments.date') %>
      </th>
      <th class= "border-b text-left"> </th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td>
          <%= appointment.patient.user.full_name %>
        </td>
        <td> <%= appointment.status %> </td>
        <td> <%= appointment.date %> </td>
        <td>
          <% if appointment.open? %>
            <%= link_to(edit_doctors_appointment_path(appointment)) do %>
              <button class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm">
                <%= t('appointments.create_recommendation') %>
              </button>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm">
  <%= link_to t('navigation.home_page'), root_path %>
</button>
